.roundedImage {
  display: block;
    border-radius: 50%;
    padding: 250px 250px;
    /* margin-left: 27.5%; */
    margin-left: auto;
    margin-right: auto
    

}
.emploi{
        display: block;
        margin-left: 39%;
        position: absolute;
        top: 50px;
}
.nom  {
    display: block;
    margin-left: 37%;
    position: absolute;
    top:  px; 
}
